.Booking
{
    width:7.5rem;
    height:17.47rem;
    /*background: #ee9900;*/
    margin:0 auto;
    position: relative;
}
.Booking .BookingBar
{
    width:7.5rem;
    height:0.4rem;
    background-image: linear-gradient(90deg, #5df1a6 0%, #34d262 50%, #0db31f 100%), linear-gradient(#000000, #000000);
    background-blend-mode: normal, normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BookingBar img
{
    width:7rem;
    height:0.23rem;
}
.Booking .BookingHeader
{
    width:7.5rem;
    height:6.08rem;
    background-image: linear-gradient(90deg, #5df1a6 0%, #34d262 50%, #0db31f 100%), linear-gradient(#000000, #000000);
    background-blend-mode: normal, normal;
    position: relative;
}
.BookingHeader .BookingHeader1
{
    width:7.02rem;
    height:6.08rem;
    margin:0 auto;
}
.BookingHeader1 span
{
    width:0.18rem;
    height: 0.29rem;
    color: #fffeff;
    font-family:"iconfont";
    font-size:0.3rem;
    position: absolute;
    top:0.28rem;
}
.BookingHeader1 h3
{
    font-size: 0.42rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    top:0.15rem;
    left:2.93rem;
}
.BookingHeader1 .p
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    top:1.2rem;
    left:0.24rem;
}
.BookingHeader1 .BookingAddress
{
    width: 0.69rem;
    height: 0.27rem;
    background-color: #ffffff;
    border-radius: 0.14rem;
    position: absolute;
    top:1.26rem;
    left:1.84rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BookingAddress .BookingAddress1
{
    width: 0.65rem;
    height: 0.23rem;
    background-color: #0db31f;
    border-radius: 0.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BookingAddress1 p
{
    font-size: 0.18rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    line-height: 0.23rem;
    margin:0 auto;
}
.BookingHeader1 .p1
{
    font-size: 0.38rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    top:1.66rem;
    left:0.24rem;
}
.BookingHeader1 .p2
{
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    top:2.2rem;
    left:0.24rem;
}
.BookingHeader1 .p3
{
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    top:2.2rem;
    left:2.61rem;
}
.BookingHeader1 .p4
{
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    top:2.2rem;
    left:3.81rem;
}
.BookingHeader .ServiceTime
{
    width: 7.02rem;
    height: 2.12rem;
    position: absolute;
    top:2.96rem;
}
.ServiceTime .ServiceTime1
{
    width: 7.02rem;
    height: 2.12rem;
    background:#ffffff;
    border-radius: 0.11rem;
    position: relative;
}
.ServiceTime1 .p5
{
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #737373;
    position: absolute;
    top:0.23rem;
    left:0.21rem;
}
.ServiceTime1 .p6
{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fe9886;
    position: absolute;
    top:0.75rem;
    left:0.21rem;
}
.ServiceTime1 .p7
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fe775d;
    position: absolute;
    top:0.45rem;
    right:0.05rem;
}
.ServiceTime1 .BookingC
{
    width: 6.56rem;
    height: 0.04rem;
    position: absolute;
    top:1.17rem;
    left:0.21rem;
}
.BookingC .BookingC1
{
    width: 0.04rem;
    height: 0.04rem;
    background: #e7e7e7;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingC .BookingC2
{
    width: 0.04rem;
    height: 0.04rem;
    background: #000000;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.ServiceTime1 .p8
{
    font-size: 0.34rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #737373;
    position: absolute;
    bottom:0.32rem;
    left:0.21rem;
}
.ServiceTime1 .p9
{
    font-size: 0.30rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fe9886;
    position: absolute;
    bottom:0.32rem;
    right:0.61rem;
}
.Booking .BookingMiddle
{
    width: 7.5rem;
    height: 8.01rem;
    position: absolute;
    top:5.75rem;
}
.BookingMiddle .BookingMiddle1
{
    width: 7.02rem;
    height: 8.01rem;
    border-radius: 0.11rem;
    margin:0 auto;
    background: #ffffff;
    position: relative;
    box-shadow: 0 3px 7px 0 rgba(177, 180, 179, 0.1), 0 -3px 7px 0 rgba(145, 146, 137, 0.1);
}
.BookingMiddle1 .p1
{
    font-size: 0.36rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    top:0.49rem;
    left:0.25rem;
}
.BookingMiddle .BookingC3
{
    width: 6.56rem;
    height: 0.04rem;
    position: absolute;
    top:1.03rem;
    left:0.21rem;
}
.BookingC3 .BookingC4
{
    width: 0.04rem;
    height: 0.04rem;
    background: #e7e7e7;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingC3 .BookingC5
{
    width: 0.04rem;
    height: 0.04rem;
    background: #000000;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingMiddle1 .dingdan
{
    width:6.41rem;
    height:3.28rem;
    position: absolute;
    top:1.62rem;
    left:0.29rem;
}
.dingdan .dingdan1
{
    width:6.41rem;
    height:0.76rem;
    margin-bottom:0.5rem;
    position: relative;
}
.dingdan1 img
{
    width: 0.76rem;
    height: 0.76rem;
}
.dingdan1 .p1
{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    top:0.21rem;
    left:1.04rem;
}
.dingdan1 .middleRight
{
    width: 0.41rem;
    height: 0.41rem;
    background:rgba(127,244,57,0.6);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    right:3.05rem;
    top:0.17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleRight .middleRight1
{
    width: 0.35rem;
    height: 0.35rem;
    background-color: #7ff439;
    border-radius: 50%;
    position: relative;
}
.middleRight1 img
{
    width:0.13rem;
    height:0.11rem;
    position: absolute;
    top:0.12rem;
    left:0.12rem;
}
.dingdan1 .p2
{
    font-size: 0.30rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    left:3.78rem;
    top:0.18rem;
}
.dingdan1 .p3
{
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fe775d;
    position: absolute;
    top:0.18rem;
    right:0.61rem;
}
.dingdan1 .p4
{
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    top:0.27rem;
    right:0.06rem;
}
.BookingMiddle .BookingC6
{
    width: 6.56rem;
    height: 0.04rem;
    position: absolute;
    bottom:2.73rem;
    left:0.21rem;
}
.BookingC6 .BookingC7
{
    width: 0.04rem;
    height: 0.04rem;
    background: #e7e7e7;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingC6 .BookingC8
{
    width: 0.04rem;
    height: 0.04rem;
    background: #000000;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingMiddle1 .p6
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    bottom:1.87rem;
    left:0.25rem;
}
.BookingMiddle1 .p7
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #787878;
    position: absolute;
    bottom:1.87rem;
    right:0.58rem;
}
.BookingMiddle1 span
{
    width: 0.11rem;
    height: 0.17rem;
    color: #4c4c4c;
    font-family:"iconfont";
    font-size: 0.4rem;
    position: absolute;
    bottom:2.07rem;
    right:0.45rem;
}
.BookingMiddle .BookingC9
{
    width: 6.56rem;
    height: 0.04rem;
    position: absolute;
    bottom:1.42rem;
    left:0.21rem;
}
.BookingC9 .BookingC10
{
    width: 0.04rem;
    height: 0.04rem;
    background: #e7e7e7;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingC9 .BookingC11
{
    width: 0.04rem;
    height: 0.04rem;
    background: #000000;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingMiddle1 .p8
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    bottom:0.58rem;
    left:0.25rem;
}
.BookingMiddle1 .p9
{
    font-size: 0.41rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fe775d;
    position: absolute;
    bottom:0.68rem;
    right:1.15rem;
}
.BookingMiddle1 .p10
{
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    bottom:0.76rem;
    right:0.38rem;
}
.Booking .BookingOrder
{
    width:7.5rem;
    height:1.86rem;
    position: absolute;
    bottom:1.34rem;
}
.BookingOrder .BookingOrder1
{
    width:7.02rem;
    height:1.86rem;
    background-color: #ffffff;
    box-shadow: 0 3px 7px 0 rgba(177, 180, 179, 0.1), 0 -3px 7px 0 rgba(145, 146, 137, 0.1);
    border-radius: 0.11rem;
    position: relative;
    margin:0 auto;
}
.BookingOrder1 .p1
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    left:0.25rem;
    bottom:1.2rem;
}
.BookingOrder1 .p2
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #737373;
    position: absolute;
    right:0.58rem;
    bottom:1.2rem;
}
.BookingOrder1 span
{
    width: 0.11rem;
    height: 0.17rem;
    color: #4c4c4c;
    font-family:"iconfont";
    font-size: 0.4rem;
    position: absolute;
    bottom:1.42rem;
    right:0.45rem;
}
.BookingOrder1 .BookingC12
{
    width: 6.56rem;
    height: 0.04rem;
    position: absolute;
    bottom:0.92rem;
    left:0.21rem;
}
.BookingC12 .BookingC13
{
    width: 0.04rem;
    height: 0.04rem;
    background: #e7e7e7;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingC12 .BookingC14
{
    width: 0.04rem;
    height: 0.04rem;
    background: #000000;
    border-radius: 50%;
    margin-right: 0.04rem;
    float: left;
}
.BookingOrder1 .p3
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    left:0.25rem;
    top:1.2rem;
}
.BookingOrder1 .p4
{
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #737373;
    position: absolute;
    right:0.58rem;
    top:1.2rem;
}
.BookingOrder1 .span
{
    width: 0.11rem;
    height: 0.17rem;
    color: #4c4c4c;
    font-family:"iconfont";
    font-size: 0.4rem;
    position: absolute;
    top:1.2rem;
    right:0.45rem;
}
.Booking .footer
{
    width: 7.50rem;
    height: 0.98rem;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px 0 rgba(221, 221, 221, 0.57);
    position: absolute;
    bottom:0;
}
.footer .footer1
{
    width: 7.50rem;
    height: 0.98rem;
    position: relative;
}
.footer1 .footerC
{
    width: 0.13rem;
    height: 0.13rem;
    background-color: #0db31f;
    border-radius: 50%;
    position: absolute;
    left:0.52rem;
    top:0.48rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerC .footerC1
{
    width: 0.07rem;
    height: 0.07rem;
    background-color: #ffffff;
    border-radius: 50%;
}
.footer1 .p11
{
    font-size: 0.41rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fe775d;
    position: absolute;
    left:0.7rem;
    top:0.25rem;
}
.footer1 .p12
{
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    left:1.65rem;
    top:0.35rem;
}
.footer1 .FirmOrder
{
    width: 1.52rem;
    height: 0.56rem;
    background-color: #7ff439;
    border-radius:0.28rem;
    position: absolute;
    right:0.29rem;
    top:0.21rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FirmOrder p
{
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    line-height: 0.56rem;
    margin:0 auto;
}


