.ThreePage
{
    width:7.5rem;
    height:14.43rem;
    margin:0 auto;
}
.ThreePage .ThreePageBar
{
    width:7.5rem;
    height:0.4rem;
    background-image: linear-gradient(90deg, #5df1a6 0%, #34d262 50%, #0db31f 100%), linear-gradient(#000000, #000000);
    background-blend-mode: normal, normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ThreePageBar img
{
    width: 7rem;
    height: 0.23rem;
}
.ThreePage .ThreePageTop
{
    width:7.5rem;
    height:3.11rem;
    background-image: linear-gradient(90deg, #5df1a6 0%, #34d262 50%, #0db31f 100%), linear-gradient(#000000, #000000);
    background-blend-mode: normal, normal;
    position: relative;
}
.ThreePageTop .ThreePageTop1
{
    width:7.02rem;
    height:3.11rem;
    margin:0 auto;
}
.ThreePageTop1 span
{
    width:0.18rem;
    height: 0.29rem;
    color: #fffeff;
    font-family:"iconfont";
    font-size:0.3rem;
    position: absolute;
    top:0.28rem;
}
.ThreePageTop1 .ThreePageC1
{
    width: 0.44rem;
    height: 0.44rem;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#000000, #000000);
    background-blend-mode: normal, normal;
    border-radius: 50%;
    position: absolute;
    top:0.28rem;
    right:0.84rem;
}
.ThreePageC1 span
{
    width: 0.24rem;
    height: 0.21rem;
    color:#f85828;
    font-size:0.24rem;
    line-height: 0.01rem;
    margin-left:0.08rem;
    margin-top:-0.04rem;
}
.ThreePageTop1 .ThreePageC2
{
    width:0.44rem;
    height: 0.44rem;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#000000, #000000);
    background-blend-mode: normal, normal;
    border-radius: 50%;
    position: absolute;
    top:0.28rem;
    right:0.24rem;
}
.ThreePageC2 span
{
    width: 0.24rem;
    height: 0.21rem;
    color:#f85828;
    font-size:0.24rem;
    line-height: 0.01rem;
    margin-left:0.08rem;
    margin-top:-0.05rem;
}
.ThreePageTop1 .ThreePageImg
{
    width: 1.51rem;
    height: 1.51rem;
    background-color: #fffeff;
    border-radius: 0.14rem;
    position: absolute;
    left:0.53rem;
    bottom:0.33rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ThreePageImg img
{
    width: 1.45rem;
    height: 1.45rem;
    border-radius: 0.14rem;
}
.ThreePageTop1 .p
{
    width: 3.47rem;
    height: 0.29rem;
    font-size: 0.30rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    left:2.49rem;
    top:1.13rem;
}
.ThreePageTop1 .ThreePageAddress
{
    width: 0.28rem;
    height: 0.28rem;
    background-image: linear-gradient(#fefefe, #fefefe), linear-gradient(#000000, #000000);
    background-blend-mode: normal, normal;
    border-radius: 50%;
    position: absolute;
    top:1.66rem;
    left:2.49rem;
    text-align: center;
}
.ThreePageAddress span
{
   /* width: 0.11rem;
    height: 0.18rem;*/
    color:#19bc33;
    font-size:0.2rem;
    background-blend-mode: normal, normal;
    font-family: 'iconfont';
    margin-top:-0.25rem;
    margin-left:-0.11rem;
}
.ThreePageTop1 .p1
{
    width: 3.62rem;
    height: 0.16rem;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
    left:2.83rem;
    top:1.66rem;
}
.ThreePageTop1 .ThreePageK
{
    width: 0.94rem;
    height: 0.34rem;
    background-color: #fefefe;
    border-radius: 0.16rem;
    position: absolute;
    left:2.49rem;
    top:2.11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ThreePageK .ThreePageK1
{
    width: 0.90rem;
    height: 0.30rem;
    background-color: #45de7d;
    border-radius: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ThreePageK1 p
{
    /*width: 0.7rem;*/
    /*height: 0.15rem;*/
    font-size: 0.20rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ffdcd3;
    line-height: 0.3rem;
    margin:0 auto;
}
.ThreePageTop1 .ThreePageXC
{
    width: 0.11rem;
    height: 0.11rem;
    background-color: #0db31f;
    border-radius: 50%;
    position: absolute;
    left:3.61rem;
    top:2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ThreePageXC .ThreePageXC1
{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #feffff;
    border-radius: 50%;
}
.ThreePageTop1 .p2
{
   /* width: 0.55rem;
    height: 0.15rem;*/
    font-size: 0.20rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fcdbd4;
    position: absolute;
    left:3.77rem;
    top:2.12rem;
}
.ThreePageTop1 .p3
{
    width: 0.92rem;
    height: 0.14rem;
    font-size: 0.20rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fcd9d5;
    position: absolute;
    top:2.12rem;
    left:4.57rem;
}
.ThreePageTop1 .qisong
{
    width: 0.81rem;
    height: 0.31rem;
    background-color: #feffff;
    border-radius: 0.16rem;
    position: absolute;
    right:0.95rem;
    top:2.11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qisong p
{
    /*width: 0.45rem;
    height: 0.19rem;*/
    font-size: 0.20rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #16ba2e;
    line-height: 0.31rem;
    margin:0 auto;
}
.ThreePageTop1 .Star
{
    width:1.5rem;
    height:0.21rem;
    position: absolute;
    bottom:0.3rem;
    left:2.49rem;
}
.Star1 img
{
    width:0.22rem;
    height:0.21rem;
    margin-right:0.08rem;
    float:left;
}
.ThreePageTop1 .p4
{
    width: 0.31rem;
    height: 0.16rem;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fddad6;
    position: absolute;
    bottom:0.39rem;
    right:3.16rem;
}
.ThreePage .header
{
    width: 7.50rem;
    height: 0.99rem;
    background-color: #20202a;
    position: relative;
}
.header .headerC
{
    width: 0.12rem;
    height: 0.12rem;
    background-color: #0db31f;
    border-radius: 50%;
    position: absolute;
    left:0.24rem;
    top:0.44rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerC .headerC1
{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #feffff;
    border-radius: 50%;
}
.header p
{
    width: 5.19rem;
    height: 0.23rem;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #dfdfe1;
    position:absolute;
    top:0.33rem;
    left:0.52rem;
}
.header .headerCircle
{
    width:7.5rem;
    height:0.05rem;
    position: absolute;
    bottom:0;
}
.headerCircle .headerCircle1
{
    width: 0.1rem;
    height:0.1rem;
    background-color: #ffffff;
    border-radius: 50%;
    float:left;
}
.ThreePage .header1
{
    width:7.5rem;
    height:1.22rem;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header1 .Booking
{
    width: 3.42rem;
    height: 0.68rem;
    background-color: #b7b7b7;
    border-radius: 0.34rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Booking .Booking1
{
    width: 3.38rem;
    height: 0.64rem;
    background-color: #f4f4f4;
    border-radius: 0.32rem;
    position: relative;

}
.Booking1 .Booking2
{
    width: 1.72rem;
    height: 0.54rem;
    background-color: #0db31f;
    border-radius: 0.27rem;
    margin-left:0.04rem;
    margin-top:0.05rem;
    position: relative;
}
.Booking2 .Booking3
{
    width: 0.12rem;
    height: 0.12rem;
    background-color:#ffffff;
    border-radius: 50%;
    position:absolute;
    top:0.21rem;
    left:0.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Booking3 .Booking4
{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #81f535;
    border-radius: 50%;
}
.Booking2 .Booking5
{
    width: 0.12rem;
    height: 0.12rem;
    background-color:#ffffff;
    border-radius: 50%;
    position:absolute;
    top:0.21rem;
    right:0.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Booking5 .Booking6
{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #81f535;
    border-radius: 50%;
}
.Booking2 p
{
    width: 0.6rem;
    height: 0.29rem;
    font-size: 0.30rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fae0df;
    line-height: 0.54rem;
    margin:0 auto;
}
.Booking1 .p2
{
    width: 0.6rem;
    height: 0.29rem;
    font-size: 0.30rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #545454;
    position: absolute;
    top:0.12rem;
    right:0.6rem;
}
.ThreePage .middle
{
    width:7.5rem;
    height:7.73rem;
}
.middle .middle1
{
    width:1.75rem;
    height:7.73rem;
    background-color: #5ab398;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.middle .middle2
{
    width:5.75rem;
    height:7.73rem;
    background-color: #e7e7e7;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle1 .middle3
{
    width:1.41rem;
    height:6.82rem;
}
.middle3 .middle4
{
    width: 1.41rem;
    height: 0.58rem;
    background-color: #82f535;
    border-radius: 0.29rem;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.middle4 .middle5
{
    width: 1.37rem;
    height: 0.54rem;
    background-color: #f5ffff;
    border-radius: 0.27rem;
}
.middle5 .p
{
    width: 0.52rem;
    height: 0.25rem;
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #82f535;
    line-height: 0.54rem;
    margin:0 auto;
}
.middle3 .middle6
{
    width: 1.41rem;
    height: 0.58rem;
    background-color: #82f535;
    border-radius: 0.29rem;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.middle6 .middle7
{
    width: 1.37rem;
    height: 0.54rem;
    border-radius: 0.27rem;
}
.middle7 .p
{
    width: 0.52rem;
    height: 0.25rem;
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fce0df;
    line-height: 0.54rem;
    margin:0 auto;
}
.middle2 .middle8
{
    width:5.3rem;
    height:7.04rem;
}
.middle8 .middle9
{
    width: 5.3rem;
    height: 1.61rem;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px 0 rgba(205, 205, 205, 0.35), 0 2px 5px 0 rgba(205, 205, 205, 0.35);
    border-radius: 0.16rem;
    float: left;
    margin-bottom:0.2rem;
    position: relative;
}
.middle9 .middle10
{
    width: 1.18rem;
    height: 1.18rem;
    background-color: #e4007f;
    box-shadow: 0 10px 19px 0 rgba(210, 210, 210, 0.39);
    position: absolute;
    top:0.22rem;
    left:0.13rem;
    border-radius: 50%;
}
.middle10 img
{
    width: 1.18rem;
    height:1.18rem;
}
.middle9 h3
{
    width: 1.56rem;
    height: 0.26rem;
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    top:0.15rem;
    left:1.53rem;
}
.middle9 .middleXS
{
    width:1.22rem;
    height:0.21rem;
    position: absolute;
    top:0.53rem;
    left:1.53rem;
}
.middleXS .middleXS1
{
    width:0.22rem;
    height:0.21rem;
    margin-right:0.02rem;
    float: left;
}
.middleXS1 img
{
    width:0.22rem;
    height:0.21rem;
}
.middle9 .middleXC
{
    width: 2.04rem;
    height: 0.04rem;
    position: absolute;
    top:0.83rem;
    left:1.53rem;
}
.middleXC .middleXC1
{
    width: 0.04rem;
    height: 0.04rem;
    border-radius: 50%;
    background:#cecece;
    margin-right:0.02rem;
    float:left;
}
.middleXC .middleXC2
{
    width: 0.04rem;
    height: 0.04rem;
    border-radius: 50%;
    background:#5c5c5c;
    margin-right:0.02rem;
    float:left;
}
.middle9 .p1
{
    width: 0.80rem;
    height: 0.18rem;
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ed312f;
    position: absolute;
    left:1.53rem;
    bottom:0.55rem;
}
.middle .p2
{
    width: 0.43rem;
    height: 0.15rem;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ed312f;
    position: absolute;
    bottom:0.55rem;
    left:2.35rem;
}
.middle9 .MiddleC1
{
    width: 0.12rem;
    height: 0.12rem;
    background-color: #f79f9d;
    border-radius: 50%;
    position: absolute;
    bottom:0.23rem;
    left:1.53rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MiddleC1 .MiddleC2
{
    width: 0.06rem;
    height: 0.06rem;
    background-color: #ed312f;
    border-radius: 50%;
}
.middle9 .p3
{
    width: 0.69rem;
    height: 0.14rem;
    font-size: 0.20rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #b8b8b8;
    position: absolute;
    bottom:0.28rem;
    left:1.67rem;
}
.middle9 .middleRight
{
    width: 0.38rem;
    height: 0.38rem;
    background:rgba(127,244,57,0.6);
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    right:0.21rem;
    top:0.61rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleRight .middleRight1
{
    width: 0.32rem;
    height: 0.32rem;
    background-color: #7ff439;
    border-radius: 50%;
    position: relative;

}
.middleRight1 .shugang
{
    width: 0.14rem;
    height: 0.02rem;
    background-color: #feffff;
    border-radius: 0.01rem;
    position: absolute;
    top:0.15rem;
    left:0.09rem;
}
.middleRight1 .shugang1
{
    width: 0.02rem;
    height: 0.14rem;
    background-color: #feffff;
    border-radius: 0.01rem;
    position: absolute;
    left:0.15rem;
    top:0.09rem;
}
.ThreePage .footer
{
    width: 7.5rem;
    height: 0.98rem;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px 0 rgba(221, 221, 221, 0.57);
    position: relative;
}
.footer .footer1
{
    width: 0.72rem;
    height: 0.72rem;
    background-color: #464646;
    border-radius: 50%;
    position: absolute;
    left:0.24rem;
    top:0.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.72rem;
    text-align: center;
}
.footer1 span
{
    font-family:"iconfont";
    color:black;
    font-size:0.4rem;
}
.footer .p
{
   /* width: 1.2rem;
    height: 0.24rem;*/
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #343434;
    position: absolute;
    top:0.2rem;
    left:1.07rem;
}
.footer .p1
{
   /* width: 1.45rem;
    height: 0.19rem;*/
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #585858;
    position: absolute;
    bottom:0.2rem;
    left:1.07rem;
}
.footer .footerRight
{
    width: 1.52rem;
    height: 0.56rem;
    background-color: #464646;
    border-radius: 0.28rem;
    position: absolute;
    top:0.21rem;
    right:0.24rem;
}
.footerRight p
{
    width: 0.78rem;
    height: 0.25rem;
    font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #e2e2e2;
    line-height: 0.56rem;
    margin:0 auto;
}
